[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/pcg-cpp"]
	path = dependencies/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
